.popup__button-cross {
  position: absolute;
  top: -33px;
  right: -30px;
  background-color: transparent;
  border: 0;
  width: 40px;
  height: 40px;
}

.popup__button-cross:hover {
  opacity: 0.7;
  cursor: pointer;
}

.form {
  position: relative;
  background-color: white;
  width: 430px;
  height: 330px;
  margin: 0 auto;
  border-radius: 3%;
}

.avatar__form {
  height: 260px;
}
.confirmation__form {
  height: 180px;
}

.popup__title {
  color: black;
  font-size: 24px;
  line-height: 1.15;
  font-family: "Inter";
  margin-top: 6%;
  padding-left: 5%;
  margin-bottom: 2%;
}
.popup__form-fieldset {
  display: flex;
  flex-direction: column;
  border: 0;
  gap: 20px;
}

.popup__form-input {
  width: 358px;
  height: 35px;
  margin: 0 auto;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px gray solid;
  box-sizing: border-box;
}

.popup__form-input_invalid {
  border-bottom: 1px solid red;
}
.form__error {
  position: relative;
  bottom: 15px;
  left: 20px;
  height: 2px;
  width: 90%;
  font-size: 12px;
}
.form__error-active {
  color: red;
}

.popup__form-button,
.popup__form-button-create {
  width: 358px;
  height: 50px;
  background-color: black;

  font-weight: 500;

  color: white;
  font-size: 18px;
  margin: 0 auto;
}

.popup__form-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__form-button_disabled {
  background-color: #f5f5f5;
  color: gray;
  pointer-events: none;
  border: 1px solid #887c7c;
}

@media screen and (max-width: 649px) and (min-width: 320px) {
  .form {
    background-color: white;
    width: 282px;
    height: 322px;
  }
  .avatar__form {
    width: 282px;
    height: 260px;
  }

  .confirmation__form {
    height: 170px;
  }
  .popup__form-button {
    width: 238px;
    height: 46px;

    margin: 0 auto;
  }

  .popup__form-input {
    width: 238px;
    height: 46px;
    font-size: 14px;
  }
  .popup__title {
    font-size: 18px;
    padding-left: 3%;
    margin-top: 10%;
  }
  .popup__button-cross {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -33px;
    right: -12px;
  }
  .form__error {
    left: 8px;
  }
}
